body{
    font-family: arial,sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding: 15px;
    padding-top: 5px;
    align-items: center;
    flex-wrap: nowrap;

}

.footer-link:hover, .header-link:hover { 
    text-decoration:underline;
}

span.footer-link:hover{
    text-decoration:none;
}

.header-container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.header-link { 
    padding-left: .7em;
    padding-right: .7em;
    vertical-align: middle;
    text-decoration: none;
    color: #444;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px;
}

.logo{
    padding-top: 135px;
    padding-bottom: 23px;
}

.searchbox{
    display: flex;
    flex-flow: row nowrap;
    height: 45px;
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(223, 223, 223);
    border-width: 1px;
    padding-right: 12.5px;
    padding-left: 12.5px;
    align-items: center;
    min-width: 250px;
    max-width: 550px;
    width: 100%;
}
.searchbox:hover, .searchbutton:hover{
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

input:focus{
    outline: none;
}

.searchicon{
    width: 32px;
}

.searchfieldinput{
    border-style: none;
    width: 100%;
}

.searchfieldcontainer{
    width: 100%;
}

.searchbuttons{
    padding-top: 40px;
}

.searchbutton{
    font-size: 14px;
    color:rgb(92, 92, 92);
    padding: 5px 10px;
    border-style: none;
    height: 40px;
    background-color: rgb(248, 248, 248);
    border-radius: 4px;
    margin: auto 5px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer-links {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 12px;
    align-items: center;
    flex-wrap: nowrap;
    background-color: rgb(245, 245, 245);
    border-top-style: solid;
    border-width: 1px;
    border-color: rgb(223, 223, 223);
}   
.footer-container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.footer-link { 
    padding-left: 1em;
    padding-right: 1em;
    vertical-align: middle;
    text-decoration: none;
    color: rgb(104, 104, 104);
}
