body{
    font-family: arial,sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding: 15px;
    padding-top: 5px;
    align-items: center;
    flex-wrap: nowrap;

}
.header-container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.header-link { 
    padding-left: .7em;
    padding-right: .7em;
    vertical-align: middle;
    text-decoration: none;
    color: #444;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px;
}

.logo{
    padding-top: 135px;
    padding-bottom: 23px;
}

.searchbox{
    display: flex;
    flex-flow: row nowrap;
    height: 45px;
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(202, 202, 202);
    border-width: 1px;
    padding-right: 12.5px;
    padding-left: 12.5px;
    align-items: center;
    min-width: 250px;
    max-width: 450px;
    width: 100%;
}

input:focus{
    outline: none;
}

.searchicon{
    width: 32px;
}

.searchfieldinput{
    border-style: none;
    width: 100%;
}

.searchfieldcontainer{
    width: 100%;}